:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --font-main: 'Sarabun';
  --font-size: 16px;

  --foreground-hex: #eef3ec;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --grey-300-hex: #979cad;
  --grey-500-hex: #767b8b;
  --grey-700-hex: #62615e;
  --grey-800-hex: #454543;
  --green-300-hex: #a3e0b5;
  --green-350-hex: #69bd83;
  --green-400-hex: #3eb961;
  --green-600-hex: #089625;

  /* 
  
    https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15
  */

  /* new colors */

  --green-ui-100: #d8f3dc;
  --green-ui-200: #b7e4c7;
  --green-ui-300: #95d5b2;
  --green-ui-400: #74c69d;
  --green-ui-500: #52b788;
  --green-ui-600: #40916c;
  --green-ui-700: #2d6a4f;
  --green-ui-800: #1b4332;
  --green-ui-900: #081c15;

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;

  --max-width: 1024px;

  --xs-width: 0;
  --sm-width: 576px;
  --md-width: 768px;
  --lg-width: 992px;
  --xl-width: 1200px;
  --xxl-width: 1400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--foreground-hex);
  font-size: var(--font-size);

  /* font-family: var(--font-main); */
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.page-content {
  max-width: var(--max-width);
  margin: 0 auto;
}
