.pageContent {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.title {
  color: var(--green-400hex);
}

.content {
  /* max-width: var(--max-width);
  margin: 0 auto; */
}
