$icon-wrapper-size: 60px;

.pageContent {
  max-width: var(--max-width);
  margin: 0 auto;
}

.main {
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  padding-top: 2rem;
  margin-bottom: 4rem;
}

.title {
  color: var(--green-400-hex);
}

.content {
  /* max-width: var(--max-width);
  margin: 0 auto; */
}

.heroSection {
  margin-bottom: 3rem;
  display: grid;
  grid-template-columns: 55% 45%;

  .title {
    width: 82%;
    font-size: 3.5rem;
    line-height: 1.1;
    font-weight: 500;
    color: var(--grey-800-hex);
    margin-bottom: 1rem;

    .hightlight {
      display: block;
      font-weight: bold;
      color: var(--green-400-hex);
    }
  }

  .text {
    color: var(--grey-700-hex);
    margin-bottom: 1.6rem;
    width: 70%;
  }

  .linkWrapper {
    margin-left: 0;
  }
}

.features {
  padding: 1.6rem 0;
  background-color: var(--green-400-hex);
  display: flex;
  justify-content: center;

  .sectionTitle {
    color: white;
    font-size: 1.3rem;
    letter-spacing: 0.025rem;
    width: 70%;
    text-align: center;
    margin-bottom: 2rem;
  }

  .sellingPointsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

    .sellingPoint {
      display: flex;

      .iconWrapper {
        margin-right: 0.575rem;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: $icon-wrapper-size;
        height: $icon-wrapper-size;
        background-color: white;
        border-radius: 10px;

        .icon {
          color: var(--green-400-hex);
          width: 60%;
          height: 60%;
        }
      }

      .title {
        color: white;
        font-weight: bold;
        margin-bottom: 0.25rem;
      }

      .subtitle {
        color: white;
      }
    }
  }
}
