.title {
  margin-bottom: 1.4rem;
  font-size: 1.3rem;
}

.root {
  padding: 1.6rem;
  width: 46%;
  margin: 4rem auto 0;
}

.controls {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.2rem;

  & > *:first-child {
    margin-right: 0.6rem;
  }
}
