.root {
  padding: 1.6rem;
}

.pageTitle {
  font-weight: 400;
  font-size: 1.4rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createButton {
  margin-right: 1.6rem;
}
