.root {
  /* colors */
  color: var(--green-600-hex);
  background-color: var(--green-300-hex);
  border: 1px solid transparent;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;

  align-items: center;
  border-radius: 0.25rem;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 1rem;
  padding: calc(0.675rem - 1px) calc(1.2rem - 1px);
  position: relative;

  /* animation */
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.root.solid {
  /* default styles */
}

.root.bordered {
  border: 1px solid var(--green-600-hex);
}

.root:hover,
.root:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.root:hover {
  transform: translateY(-1px);
}

.root:active {
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  transform: translateY(0);
}

/* 'primary' | 'secondary' | 'success' | 'danger' | 'light' */

.root.primary {
  background-color: var(--green-ui-600);
  color: white;
}

.root.secondary {
  background-color: var(--grey-300-hex);
  color: white;
}

.root.success {
  background-color: var(--green-ui-500);
  color: white;
}

.root.danger {
  background-color: var(--color-red-500);
  color: white;
}

.root.light {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid transparent;

  &:hover,
  &:active {
    color: #000;
    background-color: #c6c7c8;
    border-color: #babbbc;
  }
}
