.root {
  display: grid;
  height: 100vh;
  grid-template-columns: minmax(210px, 1fr) 9fr;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--green-ui-500);
}
