.wrapper {
  margin: 0 1.4rem;
}

.root {
  color: var(--grey-500-hex);
  font-weight: 600;
  padding-bottom: 1rem;
  text-underline-offset: 6px;
}

.root:hover {
  color: var(--green-400-hex);
  text-decoration: underline;
}
